@model Core.DomainModel.Treatment

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Treatment</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.TreatmentType)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.TreatmentType)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Cost)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Cost)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.MinimumAge)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.MinimumAge)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.PerformedBy)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.PerformedBy)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.PerformDate)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.PerformDate)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID, animalId = (int)ViewBag.AnimalId }, null) |
    @Html.ActionLink("Back to List", "Index", new { animalId = (int)ViewBag.AnimalId }, null)
</div>
