@model IEnumerable<Comment>

@{
    ViewData["Title"] = "Index";
}

<h1>Comments of @ViewBag.Animal</h1>
@if (!ViewBag.IsAnimalAdopted)
{
    <p>
        @Html.ActionLink("Add comment", "Create", "Comment", new { animalId = ViewBag.AnimalId }, null)
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    @Html.ActionLink("Back to animals", "Index", "Animal")
</div>