@model Animal

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Animal</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.EstimatedAge)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.EstimatedAge)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.AnimalType)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.AnimalType)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Breed)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Breed)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Picture)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Picture)
            <img src="@("~/images/" + Model.ImageName)" asp-append-version="true"
                 style="max-height: 200px; max-width: 200px;" />
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.DateOfArrival)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.DateOfArrival)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.DateOfAdoption)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.DateOfAdoption)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.DateOfPassing)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.DateOfPassing)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.IsNeutered)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.IsNeutered)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.IsChildFriendly)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.IsChildFriendly)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.LeavingReason)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.LeavingReason)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Adoptable)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Adoptable)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.AdoptedBy)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.AdoptedBy.EmailAddress)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.LodgingLocation)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.LodgingLocation.ID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Delete" asp-route-id="@Model.ID">Delete</a> |
    <a asp-action="Index">Back to List</a>
</div>
